<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="novo.apps.doitall"
    android:versionCode="9"
    android:versionName="1.4.3" >

    <uses-sdk
        android:minSdkVersion="10"
        android:targetSdkVersion="14" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="novo.apps.doitall.LoginActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.AppCompat.Light"  >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="novo.apps.doitall.RegisterActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.AppCompat.Light"  >
                                    <intent-filter>        
                <action android:name="novo.apps.doitall.RegisterActivity" />                
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            
        </activity>        
        
        <activity
            android:name="novo.apps.doitall.PrincipalActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.AppCompat.Light"  >
                                    <intent-filter>        
                <action android:name="novo.apps.doitall.PrincipalActivity" />                
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            
        </activity>
                <activity
            android:name=".SecondActivity"
            android:label="@string/app_name" >
            <intent-filter>        
                <action android:name="novo.apps.doitall.SecondActivity" />                
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            
        </activity>
                <activity
            android:name=".AboutActivity"
            android:label="@string/app_name" >
            <intent-filter>        
                <action android:name="novo.apps.doitall.AboutActivity" />                
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            
        </activity>
                
                <activity
            android:name=".AddTicketActivity"
            android:label="@string/app_name" >
            <intent-filter>        
                <action android:name="novo.apps.doitall.AddTicketActivity" />                
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            
        </activity>
            <activity
            android:name=".ViewTicketActivity"
            android:label="@string/app_name" >
            <intent-filter>        
                <action android:name="novo.apps.doitall.ViewTicketActivity" />                
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>            
        </activity>
    </application>
<uses-permission android:name="android.permission.INTERNET"></uses-permission>
</manifest>
